.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}


footer{
    position: "fixed";
    left: 0px;
    bottom: 0px;
	right: 0px;
    height: 60px;
    width: 100%;
}